swagger: '2.0'
info:
  title: mG4.tv API
  description: |
    The api used by mG4 to manage streaming video content and metadata
  version: "1.0.0"
# the domain of the service
host: api.mg4.tv
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /groups:
    post:
      summary: Create group
      description: |
        Create a new video production group. 
      tags:
        - Groups
      parameters:
        - name: new group
          in: body
          required: true
          schema:
            $ref: '#/definitions/Group'
      responses:
        201:
          $ref: '#/responses/Created'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        403:
          description: |
            **Forbidden**. The group was not created because the authenticated
            user does not have permissions to create it.
          schema:
            $ref: '#/definitions/ServerResponse'
        409:
          description: |
            **Conflict**. The group was not created because one or more of its
            fields conflicts with a unique constraint for groups. The problematic
            fields are named in the "fields" key of the response.
          schema:
            $ref: '#/definitions/ServerResponse'
        415:
          description: |
            **Unsupported media type**. The group was not created because the
            request used an unsupported media type.
          schema:
            $ref: '#/definitions/ServerResponse'
        422:
          description: |
            **Unprocessable entity**. The group was not created because the
            request had extraneous, missing or improperly-typed fields. The
            problematic fields are named in the "fields" key of the response.
          schema:
            $ref: '#/definitions/ServerResponse'
        429:
          description: |
            **Too many requests**. The group was not created because the requesting
            client has exceeded the rate limit of the API.
          headers:
            X-RateLimit-Limit:
              description: The rate limit ceiling for that particular call
              type: number
            X-RateLimit-Remaining:
              description: The rate limit remaining in a 15 minute window.
              type: number
            X-RateLimit-Reset:
              description: The UTC Unix epcoh time when the current rate limit window ends and rates reset.
              type: number
              format: UTC Unix epoch
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: |
            **Unexpected error**. The group was not created because the server
            or network experienced some other error. This error may be handled
            by a gateway, reverse proxy or load balancer and served as a **5xx**
            response.
  
  /groups/{name}:
    parameters:
      - name: name
        in: path
        required: true
        type: string
    delete:
      summary: Delete group
      tags:
        - Groups
      responses:
        204:
          description: Success (no content)
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ServerResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ServerResponse'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ServerResponse'
        415:
          description: Unsupported media type
          schema:
            $ref: '#/definitions/ServerResponse'
        422:
          description: Unprocessable entity
          schema:
            $ref: '#/definitions/ServerResponse'
        429:
          description: Too many requests
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/ServerResponse'
    get:
      summary: Get group
      tags:
        - Groups
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Group'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/ServerResponse'
    patch:
      summary: Partially update group
      parameters:
        - name: partially updated group
          in: body
          required: true
          schema:
            $ref: '#/definitions/Group'
      tags:
        - Groups
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Group'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ServerResponse'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ServerResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ServerResponse'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ServerResponse'
        409:
          description: Conflict
          schema: 
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/ServerResponse'
    post:
      summary: Create group
      parameters:
        - name: new group
          in: body
          required: true
          schema:
            $ref: '#/definitions/Group'
      tags:
        - Groups
      responses:
        201:
          description: Created
          headers:
            Location:
              description: The URL of the successfully created group. (This URL)
              type: string
              format: URL
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ServerResponse'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ServerResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ServerResponse'
        409:
          description: Conflict
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/ServerResponse'
    put:
      summary: Update group
      parameters:
        - name: updated group
          in: body
          required: true
          schema:
            $ref: '#/definitions/Group'
      tags:
        - Groups
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Group'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ServerResponse'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ServerResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ServerResponse'
        409:
          description: Conflict
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/ServerResponse'
 
  /groups/{name}/permissions:
    parameters:
      - name: name
        in: path
        required: true
        type: string
    delete:
      summary: Delete group
      tags:
        - Groups
      responses:
        204:
          description: Success (no content)
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ServerResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ServerResponse'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/ServerResponse'
    get:
      summary: Get group
      tags:
        - Groups
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Permission'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/ServerResponse'
    post:
      summary: Create group
      parameters:
        - name: new group
          in: body
          required: true
          schema:
            $ref: '#/definitions/Permission'
      tags:
        - Groups
      responses:
        201:
          description: Created
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ServerResponse'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ServerResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ServerResponse'
        409:
          description: Conflict
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/ServerResponse'
            
  /groups/{name}/videos:
    parameters:
      - name: name
        in: path
        required: true
        type: string
    delete:
      summary: Delete all videos on a group
      tags:
        - Groups
        - Videos
        - Admin
      responses:
        204:
          description: Success (no content)
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ServerResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ServerResponse'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/ServerResponse'
    get:
      summary: Get group videos
      tags:
        - Groups
        - Videos
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Video'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/ServerResponse'
    post:
      summary: Create group video
      parameters:
        - name: new group video
          in: body
          required: true
          schema:
            $ref: '#/definitions/Video'
      tags:
        - Groups
        - Videos
      responses:
        201:
          description: Created
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ServerResponse'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ServerResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ServerResponse'
        409:
          description: Conflict
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/ServerResponse'
            
  /groups/{name}/users:
    parameters:
      - name: name
        in: path
        required: true
        type: string
    get:
      summary: Get all group users
      tags:
        - Groups
        - Users
        - Permissions
      responses:
        200:
          description: No content
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unknown Error
          schema:
            $ref: '#/definitions/ServerResponse'
    post:
      summary: Add a user to a group
      tags:
        - Groups
        - Users
        - Permissions
      responses:
        201:
          description: Created
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ServerResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ServerResponse'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unknown Error
          schema:
            $ref: '#/definitions/ServerResponse'

  /permissions:
    post:
      summary: Create permission
      tags:
        - Permissions
      responses:
        201:
          description: Created
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ServerResponse'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ServerResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unknown Error
          schema:
            $ref: '#/definitions/ServerResponse'
            
  /permissions/{id}:
    parameters:
      - name: id
        in: path
        required: true
        type: string
        format: UUID
    delete:
      summary: Delete permission
      tags:
        - Permissions
      responses:
        204:
          description: Success (no content)
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ServerResponse'
        403:
          description: Forbidden (or not found)
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/ServerResponse'
    get:
      summary: Get permission
      tags:
        - Permissions
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Permission'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ServerResponse'
        404:
          description: Not Found (or forbidden)
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/ServerResponse'
      
  /users/{username}:
    get:
      summary: User profile information
      description: |
        Placeholder text
      parameters:
        - name: username
          in: path
          required: true
          type: string
          format: UTF-8
      tags:
        - Users
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/User'
        404:
          description: User not found
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/ServerResponse'
  
  /users/{username}/videos:
    get:
      summary: User profile information
      description: |
        Placeholder text
      parameters:
        - name: username
          in: path
          required: true
          type: string
          format: UTF-8
      tags:
        - Users
        - Videos
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Video'
        404:
          description: User not found
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/ServerResponse'
            
  /users/{username}/groups:
    get:
      summary: User group information
      parameters:
        - name: username
          in: path
          required: true
          type: string
          format: UTF-8
      tags:
        - Users
        - Groups
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Group'
        404:
          description: User not found
          schema:
            $ref: '#/definitions/ServerResponse'
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/ServerResponse'
responses:
  Created:
    description: |
      **Created**. The resource was created and can now be accessed at
      the URL provided in the "Location" header
    headers:
      Location:
        description: The URL of the successfully created resource
        type: string
        format: URL
    schema:
      $ref: '#/definitions/ServerResponse'
      
  BadRequest:
    description: |
      **Bad request**. The resource was not created because of a syntax
      error in the request
    schema:
      $ref: '#/definitions/ServerResponse'
      
  Unauthorized:
    description: |
      **Unauthorized**. The resource was not created because authentication
      was not provided but is required.
    headers:
      WWW-Authenticate:
        description: The authentication scheme to use to access the entity
        type: string
        format: UTF-8
    schema:
      $ref: '#/definitions/ServerResponse'

definitions:
  ServerResponse:
    type: object
    required:
      - code
      - message
    properties:
      code:
        type: number
        format: HTTP response code
        description: A serialized representation of the HTTP response code returned in the header
      message:
        type: string
        format: UTF-8
        description: A human-readable message describing the reason for the Error
      fields:
        type: array
        items: 
          type: string
        description: A list of fields that the API believes is causing the Error
      location:
        type: string
        format: URL
        description: The URL location of the created resource

  Group:
    type: object
    properties:
      id:
        type: string
        format: UUID
      name:
        type: string
        format: UTF-8

  Permission:
    type: object
    properties:
      id:
        type: string
        format: UUID
      group_id:
        type: string
        format: UUID
      name:
        type: string
        format: UTF-8

  User:
    type: object
    properties:
      id:
        type: string
        format: UUID
      username:
        type: string
        format: UTF-8

  Video:
    type: object
    properties:
      id:
        type: string
        format: UUID
    
